{% extends 'forum/base.html' %}

{% block content %}
    <div class="page-content">
    	<div class="row">
		  <div class="col-md-1">
      </div>
		  <div class="col-md-10">
		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title" id="title">For Students</div>
		  			</div>

		  			<div class="content-box-large box-with-header" id="info">
              <h4 style="font-weight: bold;">Placement Policy</h4>
  <p style="text-align: justify;">1) To be eligible for the placement through Campus Interviews, students need to register with
the T & P Department.</p>
  <p style="text-align: justify;">2) Only those students who can complete the prescribed credits for the degree requirement#
by the end of the current academic session (2016-17) are eligible to register. Students may
have to justify their claim if required.</p>
  <p style="text-align: justify;">3) The Institute has concept of Dream Job and Normal Job. A job with Cost to Company (CTC)
less than 6 lacs per annum is considered to be a Normal Job, while a job with CTC more than
and including 6 Lacs per annum is considered to be a Dream Job.</p>
  <p style="text-align: justify;">4) A student shall be permitted to appear at all interviews subject to his/her meeting the
criteria laid down and the conditions put forward by the companies are acceptable to him.</p>
  <p style="text-align: justify;">5) Students not having any job are eligible to apply for Normal as well as Dream Jobs.</p>





					</div>
		  		</div>
		  	</div>
		  </div>
		</div>
    </div>

    <footer>
         <div class="container">

            <div class="copy text-center">
               Copyright 2017 <a href='#'>Website</a>
            </div>

         </div>
      </footer>
{% endblock %}